.container {
  padding: 78px 120px;
}

.container > h4 {
  font-family: General Sans;
  font-size: 36px;
  font-weight: 500;
  line-height: 48.6px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 100px;
}

.container > div {
  display: flex;
  align-items: center;
  gap: 72px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container > div::-webkit-scrollbar {
  display: none;
}

.container > div > img {
  min-width: 273px;
  height: 118px;
  flex-shrink: 0;
}
